<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.co.iei.subject.model.dao.SubjectDao">

    <select id="selectSubjectList" parameterType="map" resultType="subject">
        SELECT *
        FROM subject_tbl
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND subject_title LIKE '%' || #{keyword} || '%'
        </if>
        <if test="category != null and category != ''">
            AND subject_category = 
            <choose>
               <when test="category == '프론트엔드'">0</when>
				<when test="category == '백엔드'">1</when>
				<when test="category == 'DB'">2</when>
            </choose>
        </if>
        <if test="level != null and level != ''">
            AND subject_level = #{level}
        </if>
        <choose>
            <when test="order == 1">
                ORDER BY subject_level ASC
            </when>
            <when test="order == 2">
                ORDER BY subject_level DESC
            </when>
            <when test="order == 3">
                ORDER BY subject_count ASC
            </when>
            <when test="order == 4">
                ORDER BY subject_count DESC
            </when>
            <otherwise>
                ORDER BY subject_no DESC
            </otherwise>
        </choose>
    </select>

</mapper>